
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempDataDemo</title>
</head>
<body>
    <div>
        <h1>TempDataDemo.....</h1>

        ViewData = @ViewData["Key1"] <br />
        ViewBag = @ViewBag.Key2 <br />
        TempDate = @TempData["Key3"] <br />
    </div>
</body>
</html>
